/* Color theme */
:root {
    --olive: #6a7326;
    --light-brown: #d9c8b4;
    --dark-brown: #8c7e6d;
    --light-grey: #98948e;
    --yellow: #ffc700;
    --white: #ffffff;
}

.light-text {
    color: var(--light-grey);
}

.button {
    border: solid 1px var(--olive);
    background-color: var(--olive);
    color: var(--white);
}

.button:hover {
    border: solid 1px var(--olive);
    color: var(--olive);
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Sections */
#navbar {
    background-color: var(--light-brown);
}

#hero {
    background-color: var(--olive);
}

#footer {
    background-color: var(--light-brown);
}

a {
    color: black;
    text-decoration: none;
}

a.nav-link {
    color: black;
}

a.nav-link:hover {
    color: #db5461;
}

#hero-image {
    clip-path: inset(24px 24px);
}

/* Truncate book description */
.truncate {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3;
   -webkit-box-orient: vertical;
}

/*<weight>: Use a value from 100 to 900*/
/*<uniquifier>: Use a unique and descriptive class name*/
.league-spartan {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Star rating */
.star:before {
    content: '★';
}

.yellow {
    color: var(--yellow);
}

.grey {
    color: var(--dark-brown);
}

.small-rate {
    font-size: 18px;
}

.large-rate {
    font-size: 24px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 1em;
  cursor: pointer;
  color: var(--dark-brown);
}

.rating label:hover,
.rating label:hover ~ label { /* reason why the stars are in reverse order in the html */
  color: var(--yellow);
}

.rating input:checked ~ label {
  color: var(--yellow);
}

/* Forms */
.form-field {
    border: 1px solid var(--light-grey);
    border-radius: 10px;
}

/* Cover */
.cover-placeholder {
    height: 400px;
    width: 300px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    color: var(--light-grey);
}

.cover {
    object-fit: scale-down;
}

/* Mobile */
@media (max-width: 767px) {
    .hero-text {
        text-align: center;
    }

    #highlight-cover {
        object-fit: scale-down;
    }

    #highlight-rating {
        display: none;
    }
}

/* Tablets, desktop */
@media (min-width: 768px) {
    .hero-text {
        text-align: right;
    }
}