/* Color theme */
.light-text {
    color: #98948e;
}

form > input, label, textarea {
    clear: left;
    display: block;
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Sections */
#navbar {
    background-color: #d9c8b4;
}

#hero {
    background-color: #6a7326;
}

#footer {
    background-color: #d9c8b4;
}

a {
    color: black;
    text-decoration: none;
}

a.nav-link {
    color: black;
}

a.nav-link:hover {
    color: #db5461;
}

/* Truncate book description */
.truncate {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3;
   -webkit-box-orient: vertical;
}

/*<weight>: Use a value from 100 to 900*/
/*<uniquifier>: Use a unique and descriptive class name*/
.league-spartan {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Star rating */
.star:before {
    content: '★';
}

.yellow {
    color: #ffc700;
}

.grey {
    color: #8d7d6d;
}

.small-rate {
    font-size: 18px;
}

.large-rate {
    font-size: 24px;
}

/* Star rating input */
.rate {
    float: left;
    height: 28px;
}
.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 24px;
    color: #8d7d6d;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}